<div class="container overflow-auto p-4">

  <h1>On this page you can register.</h1>
  <form>
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input type="name" class="form-control" id="nameInput" aria-describedby="nameHelp">
      <div id="name" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="lastnameInput" class="form-label">Lastname</label>
      <input type="email" class="form-control" id="lastnameInput" aria-describedby="emailHelp">
      <div id="lastname" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="identificationDocumentInput" class="form-label">Identification Document</label>
      <input type="email" class="form-control" id="identificationDocumentInput" aria-describedby="emailHelp">
      <div id="identificationDocument" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="numberPhoneInput" class="form-label">Number Phone</label>
      <input type="number" class="form-control" id="numberPhoneInput" aria-describedby="emailHelp">
      <div id="numberPhone" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
